==

function onStart ()
{
    $this->addCss('assets/css/home.css?v=1.0');
}
?>

==

{% put head %}
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="title" content="HDfilme.TV - Kino stream HD"/>
	<meta name="description" content="Hdfilme.TV - Kino stream HD - Kostenlos HD Filme und Serien online  anschauen."/>
	<meta name="keywords" content="HD stream, kino stream, kino stream HD, filme online, filme online HD, Serien online HD"/>
	<title>HDfilme.TV - Kino stream HD</title>
{% endput %}

{% component "ad" name='adsMobile320x50_home1' %}
{% component "ad" name='adsMobile320x50_home2' %}

<!-- slider -->
<section id="slide-home-wrapper" class="box">

	<div class="container">

		{% component 'bannerSlider' %}
		
	</div>

</section>

<!--main content-->
<div class="box">

	<div class="container">

		<div class="row">

			<div class="main col-md-9">

				{% component "ad" name='adsMobile300x250_home' %}
				{% component "ad" name='ads880x248_home' %}

				{% component 'posterSlider' type='movies' %}

				{% component 'posterSlider' type='series' %}

				{% component 'posterSlider' type='trailer' %}

			</div>

			{% if not isMobile %}

				<div class="col-md-3 sidebar">

					{% component "sidebar" %}

				</div>

			{% endif %}
		</div>

	</div>

</div>
<!--box-->