<div class="form-confirm-cas box-note">
    <div class="">
        <div class="form-login confirm">
            <form class="form-horizontal" role="form" method="POST" action="{{ url(mobilePrefix() ~ 'password/reset') }}">

                <input type="hidden" name="code" value="{{ this.param.code }}">
                {% if errors.has('code') %}
                    <p class="message red-alert">{{ errors.first('code') }}</p>
                {% endif %}
                <div class="row row-title">
                    <div class="col-xs-12">
                        <label for="email">{{ "email"|_ }}:</label>
                    </div>
                </div>
                <div class="row col-md-10">
                    <input id="email" type="email" class="form-control" name="email" value="{{ session('email') }}" autofocus>

                        {% if errors.has('email') %}
                        <p class="message red-alert">{{ errors.first('email') }}</p>
                        {% endif %}
                </div>
                <div class="row row-title">
                    <div class="col-xs-12">
                        <label for="password">{{ "password"|_ }}:</label>
                    </div>
                </div>
                <div class="row col-md-10">
                    <input id="password" type="password" class="form-control" name="password">

                        {% if errors.has('password') %}
                        <p class="message red-alert">{{ errors.first('password') }}</p>
                        {% endif %}
                </div>
                <div class="row row-title">
                    <div class="col-xs-12">
                        <label for="password-confirm">{{ "passwordRetype"|_ }}:</label>
                    </div>
                </div>
                <div class="row col-md-10">
                    <input id="password-confirm" type="password" class="form-control" name="password_confirmation">

                        {% if errors.has('password_confirmation') %}
                        <p class="message red-alert">{{ errors.first('password_confirmation') }}</p>
                        {% endif %}
                </div>
                <div class="row col-md-10">
                    <button type="submit" class="buttonM bGreen btn-block">
                        {{ "buttonResetPassword"|_ }}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>